@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: Arial, sans-serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    background-image: url(images/pixels.jpg);
    background-size:cover;
    background-position: center;
   
  }
  
  header {
    background-color: #2c3e50;
    color: beige;
    text-align: center;
    padding: 1rem;
  }
  
  header h1 {
    margin: 0;
    font-size:2.4rem;
    font-family: 'Poppins', sans-serif;


  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  
  input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #ecf0f1;
    width: 100%;
    max-width: 300px;
    margin-right: .5rem;
  }
  
  #searchButton {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #searchButton:hover {
    background-color: #2980b9;
  }
  i{
    font-size: 1.25rem;
  }
  .search-container {
    display: flex;
    align-items: center;
  }  
      
  #clearButton {
        margin-left: .5rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        background-color: #3d4a5f;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
 }

  #clearButton:hover {
        background-color: #142f5a;
      }

  #result {
    padding-top: 2rem;
    /* margin-top: 1rem;
    padding: 1rem; */
    /* background-image: url(/images/pixels.jpg);
    background-size: inherit;
    background-position:  inherit; */
   

    /* border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
  }
  
  #result img {
    max-height: 180px;
    max-width: 180px;
    border-radius: 90%;
    margin-bottom: 0.5rem;
  }
  
  #result h2 {
    margin: 0;
    font-size: 1.25rem;
    color: #34495e;
   padding-bottom: 1rem;

  }
  #result a{
    text-decoration: none;
  }
  
  #result p {
   
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #96eef4;
   
  }
  
  #error {
    color: #d9534f;
    font-weight: bold;
  }
  