/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Global styles for the body */
body {
    font-family: Arial, sans-serif;
    font-size: 62.5%; /* Setting font size to 10px for easier rem-based units */
    margin: 0;
    padding: 0;
    background-image: url(images/pixels.jpg); /* Background image */
    background-size: cover; /* Scale background image to cover the entire element */
    background-position: center; /* Center align background image */
}

/* Styling for the header */
header {
    background-color: #2c3e50;
    color: beige;
    text-align: center;
    padding: 1rem;
}

/* Header title styles */
header h1 {
    margin: 0;
    font-size: 2.4rem;
    font-family: 'Poppins', sans-serif;
}

/* Styling for the main content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; /* 80% viewport height */
}

/* Styling for input fields */
input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #ecf0f1;
    width: 100%;
    max-width: 300px;
    margin-right: 0.5rem;
}

/* Styling for the search button */
#searchButton {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect for the search button */
#searchButton:hover {
    background-color: #2980b9;
}

/* Styling for icons */
i {
    font-size: 1.25rem;
}

/* Styling for the search container */
.search-container {
    display: flex;
    align-items: center;
}

/* Styling for the clear button */
#clearButton {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #3d4a5f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect for the clear button */
#clearButton:hover {
    background-color: #142f5a;
}

/* Styling for the result container */
#result {
    padding-top: 2rem;
}

/* Styling for result images */
#result img {
    max-height: 180px;
    max-width: 180px;
    border-radius: 90%;
    margin-bottom: 0.5rem;
}

/* Styling for result headings */
#result h2 {
    margin: 0;
    font-size: 1.25rem;
    color: #34495e;
    padding-bottom: 1rem;
}

/* Styling for result links */
#result a {
    text-decoration: none;
}

/* Styling for result paragraphs */
#result p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #96eef4;
}

/* Styling for error messages */
#error {
    color: #d9534f;
    font-weight: bold;
}
